.pagina-index #fondo main .textoMasBoton {
  margin-left: 1.5rem; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

@font-face {
  font-family: "cubi";
  src: local("Cube"), url(../assets/fonts/Cube.ttf); }

@font-face {
  font-family: "technoBold";
  src: local("techno_hideo_bold"), url(../assets/fonts/techno_hideo_bold.ttf); }

@font-face {
  font-family: "fullpack";
  src: local("Full_Pack_2015"), url(../assets/fonts/full-pack.ttf); }

body {
  font-family: 'Roboto', sans-serif;
  background-color: #000000; }

.contenedorIndex {
  display: grid;
  grid-template-areas: "sectionIndex" "asideIndex"; }
  .contenedorIndex .asideIndex {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-right: 1rem;
    grid-area: asideIndex; }
  .contenedorIndex .carrusel {
    grid-area: sectionIndex; }

.pagina-index #fondo {
  width: 100%;
  height: 100%;
  background-image: url(../img/fondocryptoiniciodos.png);
  background-repeat: no-repeat;
  background-size: cover; }
  .pagina-index #fondo main {
    display: flex;
    flex-direction: row;
    margin-right: 1rem;
    justify-content: space-between; }
    .pagina-index #fondo main .textoMasBoton {
      width: 200px; }
      .pagina-index #fondo main .textoMasBoton .textoBienvenida {
        margin-top: 3rem;
        text-align: center;
        color: white;
        font-size: 2.5rem;
        text-transform: uppercase;
        font-family: "fullpack";
        line-height: 3.2rem;
        text-shadow: 0 0 5px #1038ee, 0 0 15px #1038ee, 0 0 30px #1038ee, 0 0 50px #1038ee; }
    .pagina-index #fondo main div .imgMobileIndex {
      width: 180px;
      height: 140px;
      display: none; }
    .pagina-index #fondo main div .botonesInicio {
      flex-direction: column;
      margin-top: 2rem;
      align-items: start;
      display: flex;
      gap: 0.5rem; }
      .pagina-index #fondo main div .botonesInicio .botonBienvenida {
        font-family: 'Roboto', sans-serif;
        font-weight: 800;
        font-size: 0.9rem;
        border: 0.5px solid #f10160;
        border-radius: 20px;
        padding: 15px 20px;
        color: #ffffff;
        text-decoration: none;
        transition: all 400ms ease; }
      .pagina-index #fondo main div .botonesInicio .botonBienvenidaDos {
        font-family: 'Roboto', sans-serif;
        font-size: 0.9rem;
        font-weight: 800;
        background-color: #1038ee;
        border-radius: 20px;
        padding: 15px 20px;
        color: #ffffff;
        text-decoration: none;
        align-items: center;
        display: flex;
        gap: 0.5rem;
        transition: all 400ms ease; }
      .pagina-index #fondo main div .botonesInicio .botonBienvenidaDos:hover {
        transform: translateY(-10%); }
      .pagina-index #fondo main div .botonesInicio .botonBienvenida:hover {
        transform: translateY(-10%); }
    .pagina-index #fondo main .flexImgMobile .imgMobileIndex {
      width: 98%;
      height: 98%; }
    .pagina-index #fondo main .bubbleMasScroll {
      display: flex;
      justify-content: flex-end;
      flex-direction: column; }
      .pagina-index #fondo main .bubbleMasScroll .scrollDownFlex {
        display: flex;
        flex-direction: column;
        align-items: center; }
        .pagina-index #fondo main .bubbleMasScroll .scrollDownFlex .botonBienvenidaTres {
          border-radius: 30px;
          border: 0.5px solid #f10160;
          padding: 13px;
          text-decoration: none;
          width: 50px; }
          .pagina-index #fondo main .bubbleMasScroll .scrollDownFlex .botonBienvenidaTres img {
            height: 15px;
            width: 20px; }
      .pagina-index #fondo main .bubbleMasScroll h4 {
        transform: rotate(270deg);
        color: #ffffff;
        font-size: 10px;
        margin-bottom: 2rem;
        width: 60px; }
    .pagina-index #fondo main .bubbleInicio {
      display: none;
      margin-top: 3rem;
      width: 80px;
      height: 60px; }

.pagina-index .bloqueCards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-top: 1rem;
  color: #ffffff;
  font-family: 'Righteous';
  width: 100%;
  height: 100%;
  background-image: url(../img/fondocryptoiniciotres.jpg);
  background-repeat: no-repeat;
  background-size: cover; }
  .pagina-index .bloqueCards .cardPackStandar:hover {
    transform: translateY(-2%);
    box-shadow: 0 0 5px #1038ee, 0 0 15px #1038ee, 0 0 30px #1038ee, 0 0 10px #1038ee; }
  .pagina-index .bloqueCards .cardPackStandar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    gap: 2rem;
    height: 35rem;
    width: 20rem;
    border-radius: 1.3rem;
    background: rgba(35, 53, 249, 0.163);
    border-style: solid;
    border-width: 3px;
    border-color: rgba(35, 53, 249, 0.163);
    transition: all 400ms ease; }
    .pagina-index .bloqueCards .cardPackStandar h2 {
      font-weight: lighter;
      font-size: 3rem;
      color: #1038ee;
      margin-left: 2rem; }
    .pagina-index .bloqueCards .cardPackStandar h5 {
      font-size: 3rem;
      color: #ffffff;
      margin-right: 4rem; }
    .pagina-index .bloqueCards .cardPackStandar .leyendaCentral {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      text-align: start; }
      .pagina-index .bloqueCards .cardPackStandar .leyendaCentral h5 {
        text-align: start;
        margin: 0 1rem 0 1rem;
        font-size: 1.1rem;
        font-style: bold;
        font-family: 'Bebas Neue', cursive; }
      .pagina-index .bloqueCards .cardPackStandar .leyendaCentral p {
        margin: 0 1rem 0 1rem;
        font-size: 0.9rem; }
    .pagina-index .bloqueCards .cardPackStandar .precioStandar {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 0.3rem; }
      .pagina-index .bloqueCards .cardPackStandar .precioStandar .priceGrande {
        font-weight: bold;
        font-size: 1.3rem;
        color: #1038ee; }
      .pagina-index .bloqueCards .cardPackStandar .precioStandar .priceChico {
        font-size: 1rem;
        margin-bottom: 0.4rem;
        font-weight: bold; }
        .pagina-index .bloqueCards .cardPackStandar .precioStandar .priceChico span {
          font-size: 2.3rem; }
  .pagina-index .bloqueCards .botonCard .botonCardUno:hover {
    box-shadow: 0 0 5px #1038ee, 0 0 15px #1038ee, 0 0 30px #1038ee, 0 0 10px #1038ee; }
  .pagina-index .bloqueCards .botonCard .botonCardUno {
    font-family: 'Roboto', sans-serif;
    font-size: 0.9rem;
    font-weight: 800;
    background: rgba(20, 39, 248, 0.6);
    border-radius: 20px;
    padding: 15px 45px;
    color: #ffffff;
    text-decoration: none;
    align-items: center;
    gap: 0.5rem; }
  .pagina-index .bloqueCards .cardPackPremium:hover {
    transform: translateY(-2%);
    box-shadow: 0 0 5px #f10160, 0 0 15px #f10160, 0 0 30px #f10160, 0 0 10px #f10160; }
  .pagina-index .bloqueCards .cardPackPremium {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    gap: 2rem;
    height: 35rem;
    width: 20rem;
    border-radius: 1.3rem;
    background: rgba(241, 1, 96, 0.163);
    border-style: solid;
    border-width: 3px;
    border-color: rgba(241, 1, 96, 0.163); }
    .pagina-index .bloqueCards .cardPackPremium h2 {
      font-weight: lighter;
      font-size: 3rem;
      color: #f10160;
      margin-left: 2rem; }
    .pagina-index .bloqueCards .cardPackPremium h5 {
      font-size: 3rem;
      color: #ffffff;
      margin-right: 4rem; }
    .pagina-index .bloqueCards .cardPackPremium .leyendaCentral {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      text-align: start; }
      .pagina-index .bloqueCards .cardPackPremium .leyendaCentral h5 {
        text-align: start;
        margin: 0 1rem 0 1rem;
        font-size: 1.1rem;
        font-style: bold;
        font-family: 'Bebas Neue', cursive; }
      .pagina-index .bloqueCards .cardPackPremium .leyendaCentral p {
        margin: 0 1rem 0 1rem;
        font-size: 0.9rem; }
    .pagina-index .bloqueCards .cardPackPremium .precioPremium {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 0.3rem; }
      .pagina-index .bloqueCards .cardPackPremium .precioPremium .priceGrande {
        font-weight: bold;
        font-size: 1.3rem;
        color: #f10160; }
      .pagina-index .bloqueCards .cardPackPremium .precioPremium .priceChico {
        font-size: 1rem;
        margin-bottom: 0.4rem;
        font-weight: bold; }
        .pagina-index .bloqueCards .cardPackPremium .precioPremium .priceChico span {
          font-size: 2.3rem; }
    .pagina-index .bloqueCards .cardPackPremium .botonCard .botonCardDos:hover {
      box-shadow: 0 0 5px #f10160, 0 0 15px #f10160, 0 0 30px #f10160, 0 0 10px #f10160; }
    .pagina-index .bloqueCards .cardPackPremium .botonCard .botonCardDos {
      font-family: 'Roboto', sans-serif;
      font-size: 0.9rem;
      font-weight: 800;
      background: rgba(241, 1, 96, 0.4);
      border-radius: 20px;
      padding: 15px 45px;
      color: #ffffff;
      text-decoration: none;
      align-items: center;
      gap: 0.5rem; }

.pagina-index #fondoDos {
  /*
        width: 100%;
        height: 35rem; */
  background-image: url(../img/fondocryptoiniciogrid.png);
  background-repeat: no-repeat;
  background-size: cover; }
  .pagina-index #fondoDos section img {
    height: 100px;
    width: 150px; }
  .pagina-index #fondoDos .carrusel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
    margin: 0.5rem; }
    .pagina-index #fondoDos .carrusel .seccionesCarrusel {
      display: flex;
      justify-content: center; }
      .pagina-index #fondoDos .carrusel .seccionesCarrusel .seccionTexto {
        width: 180px;
        padding: 0.5rem 0.5rem;
        font-size: 15px;
        font-family: 'Roboto', sans-serif;
        font-style: italic;
        color: #ffffff; }
        .pagina-index #fondoDos .carrusel .seccionesCarrusel .seccionTexto h4 {
          font-size: 14px;
          font-style: normal; }
        .pagina-index #fondoDos .carrusel .seccionesCarrusel .seccionTexto a {
          color: grey;
          text-decoration: none;
          font-size: 14px; }

.pagina-index .asideIndex h2 {
  margin: 0.5rem 0rem 0.5rem 0.5rem;
  color: #ffffff;
  font-size: 1rem; }

.pagina-index .asideIndex .carruselVideo {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 0.4rem; }

.contenedorCrypto main .topCryptoTitulo {
  color: #ffffff;
  font-family: 'Bebas Neue', cursive;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 0.5rem;
  margin-top: 4rem;
  margin-bottom: 1rem; }

.contenedorCrypto main .seccionMonedas {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem; }
  .contenedorCrypto main .seccionMonedas .monedaUno:hover {
    transform: translateY(-10%); }
  .contenedorCrypto main .seccionMonedas .monedaUno:hover {
    box-shadow: 0 0 5px #1038ee, 0 0 15px #1038ee, 0 0 30px #1038ee, 0 0 10px #1038ee; }
  .contenedorCrypto main .seccionMonedas .monedaUno {
    display: flex;
    background-color: #ffffff;
    color: #000000;
    gap: 1rem;
    height: 100px;
    width: 160px;
    border-radius: 5px;
    align-items: center;
    transition: all 400ms ease; }
    .contenedorCrypto main .seccionMonedas .monedaUno .monedaParteUno {
      margin-left: 0.5rem; }
      .contenedorCrypto main .seccionMonedas .monedaUno .monedaParteUno .monedaBtc {
        color: gray; }
      .contenedorCrypto main .seccionMonedas .monedaUno .monedaParteUno h4 {
        margin-top: 0.4rem;
        font-size: 1rem; }
      .contenedorCrypto main .seccionMonedas .monedaUno .monedaParteUno img {
        height: 25px;
        width: 25px; }
      .contenedorCrypto main .seccionMonedas .monedaUno .monedaParteUno .monedaBtcPorcentaje {
        color: green;
        margin-left: 0.4rem; }
      .contenedorCrypto main .seccionMonedas .monedaUno .monedaParteUno .monedaBtcPorcentajeBajo {
        color: red;
        margin-left: 0.4rem; }

.contenedorCrypto section {
  margin-top: 1rem;
  font-size: 0.7rem;
  width: 100%;
  font-weight: 550; }
  .contenedorCrypto section div .moneda-tabla {
    display: flex;
    flex-direction: column;
    text-align: start; }
    .contenedorCrypto section div .moneda-tabla a {
      color: #000000;
      text-decoration: none;
      font-style: oblique; }
  .contenedorCrypto section div tr span {
    color: gray; }
  .contenedorCrypto section .btn {
    background-color: none; }
  .contenedorCrypto section .numero-top {
    margin-top: 0.5rem; }
  .contenedorCrypto section .crypto-bajada {
    color: red; }
  .contenedorCrypto section .crypto-subida {
    color: green; }
  .contenedorCrypto section .imagen-logo-de-monedas {
    width: 20px;
    height: 20px;
    margin-right: 0.5rem;
    margin-top: 0.4rem; }

.contenedorCrypto .informacionCrypto {
  display: flex;
  justify-content: center;
  color: #ffffff;
  margin-top: 1rem; }
  .contenedorCrypto .informacionCrypto .informacionCryptoTexto {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    text-align: center;
    align-items: center;
    margin-left: 1rem;
    margin-right: 1rem;
    gap: 1rem; }
    .contenedorCrypto .informacionCrypto .informacionCryptoTexto p {
      font-size: 1rem; }
    .contenedorCrypto .informacionCrypto .informacionCryptoTexto .contenedorImagenEstadistica {
      display: flex;
      flex-direction: column;
      text-align: left; }
      .contenedorCrypto .informacionCrypto .informacionCryptoTexto .contenedorImagenEstadistica img {
        width: 300px;
        height: 360px; }

.contenedorCrypto .carruselVideoDos, .contenedorCrypto .asideIndex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.4rem; }
  .contenedorCrypto .carruselVideoDos h2, .contenedorCrypto .asideIndex h2 {
    color: #ffffff;
    text-align: center; }
  .contenedorCrypto .carruselVideoDos .carruselVideoYoutube, .contenedorCrypto .asideIndex .carruselVideoYoutube {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.4rem; }

.pagina-nft {
  background-color: #000000; }
  .pagina-nft .bg-menu-color {
    background-color: #000000; }
    .pagina-nft .bg-menu-color a {
      color: white; }
  .pagina-nft .coleccionesRecomendadas {
    display: flex;
    font-family: 'Bebas Neue', cursive;
    justify-content: center;
    margin-top: 4rem;
    color: #ffffff;
    font-size: 1.8rem; }
  .pagina-nft .contenedorNft {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 1rem; }
    .pagina-nft .contenedorNft .cardNft:hover {
      transform: translateY(-10%);
      box-shadow: 0 0 5px #1038ee, 0 0 15px #1038ee, 0 0 30px #1038ee, 0 0 10px #1038ee; }
    .pagina-nft .contenedorNft .cardNft {
      background-color: #1038ee;
      width: 320px;
      height: 300px;
      border-radius: 15px;
      margin-top: 3rem;
      transition: all 400ms ease; }
      .pagina-nft .contenedorNft .cardNft h2 {
        font-size: 1rem; }
        .pagina-nft .contenedorNft .cardNft h2 img {
          width: 15px;
          height: 15px; }
      .pagina-nft .contenedorNft .cardNft h2, .pagina-nft .contenedorNft .cardNft p {
        color: #ffffff;
        margin-left: 0.5rem;
        margin-right: 0.5rem; }
      .pagina-nft .contenedorNft .cardNft p {
        font-size: 0.8rem; }
      .pagina-nft .contenedorNft .cardNft .imagenNft {
        background-color: gray;
        height: 170px;
        margin-bottom: 1rem;
        background-size: contain;
        border-radius: 15px 15px 0 0; }
      .pagina-nft .contenedorNft .cardNft .imagenNft1 {
        background-image: url(../img/bearcolection.png); }
      .pagina-nft .contenedorNft .cardNft .imagenNft2 {
        background-image: url(../img/cowcolection.png); }
      .pagina-nft .contenedorNft .cardNft .imagenNft3 {
        background-image: url(../img/honeycolection.png); }
  .pagina-nft .coneccionComunidadDiscord {
    width: 98%;
    height: 52rem;
    background-color: #191919;
    border-radius: 20px;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3.5rem; }
    .pagina-nft .coneccionComunidadDiscord div .imagenMobileColeccion {
      width: 100%;
      height: 100%;
      max-width: 500px;
      max-height: 500px; }
    .pagina-nft .coneccionComunidadDiscord .leyendaDeDiscord {
      display: flex;
      flex-direction: column;
      text-align: start;
      gap: 0.5rem;
      margin-left: 1rem;
      color: #ffffff; }
      .pagina-nft .coneccionComunidadDiscord .leyendaDeDiscord h3 {
        font-size: 3rem;
        font-weight: 800;
        color: #1038ee; }
      .pagina-nft .coneccionComunidadDiscord .leyendaDeDiscord a {
        margin-top: 5rem; }
      .pagina-nft .coneccionComunidadDiscord .leyendaDeDiscord .h3small {
        font-size: 1rem;
        color: white; }
      .pagina-nft .coneccionComunidadDiscord .leyendaDeDiscord .botonDiscord {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.7rem;
        font-family: 'Roboto', sans-serif;
        font-weight: 800;
        background-color: #1038ee;
        border-radius: 20px;
        padding: 15px 30px;
        width: 180px;
        margin: 0;
        color: white;
        text-decoration: none;
        transition: all 400ms ease; }
      .pagina-nft .coneccionComunidadDiscord .leyendaDeDiscord .botonDiscord:hover {
        transform: translateY(-10%); }
      .pagina-nft .coneccionComunidadDiscord .leyendaDeDiscord .imagenDiscordBoton {
        height: 15px;
        width: 15px;
        margin-bottom: 0.2rem; }
  .pagina-nft .informacionCryptoNFT {
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center; }
    .pagina-nft .informacionCryptoNFT .informacionNFTTexto {
      margin-left: 1rem;
      margin-right: 1rem;
      color: #ffffff;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      align-content: center;
      width: 300px; }
  .pagina-nft footer {
    background-color: #000000; }
    .pagina-nft footer div {
      color: #ffffff; }
      .pagina-nft footer div ul li a {
        color: #ffffff; }
    .pagina-nft footer p {
      color: #ffffff; }

.contenedorNosotros .masInfo {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  margin-top: 3rem; }
  .contenedorNosotros .masInfo div p {
    font-size: 1rem;
    font-weight: 500;
    color: white; }
  .contenedorNosotros .masInfo div a {
    transition: all 400ms ease;
    text-decoration: none; }
    .contenedorNosotros .masInfo div a img {
      height: 50px;
      width: 50px; }
  .contenedorNosotros .masInfo div a:hover {
    transform: translateY(-10%); }
  .contenedorNosotros .masInfo .masInfoRedes {
    display: flex;
    gap: 1rem; }

.contenedorNosotros .contenedorPerfiles {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .contenedorNosotros .contenedorPerfiles .cardPerfil::before {
    content: "";
    position: absolute;
    height: 45%;
    width: 100%;
    background-color: #1038ee;
    border-radius: 20px 20px 0 0; }
  .contenedorNosotros .contenedorPerfiles .cardPerfil:hover {
    transform: translateY(-3%);
    box-shadow: 0 0 5px #1038ee, 0 0 15px #1038ee, 0 0 30px #1038ee, 0 0 10px #1038ee; }
  .contenedorNosotros .contenedorPerfiles .cardPerfil {
    position: relative;
    border-radius: 20px;
    background: white;
    width: 280px;
    margin: 20px 0;
    transition: all 400ms ease; }
    .contenedorNosotros .contenedorPerfiles .cardPerfil .cardContenido {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 30px;
      position: relative;
      z-index: 100; }
      .contenedorNosotros .contenedorPerfiles .cardPerfil .cardContenido .redesIconos {
        position: absolute;
        top: 10px;
        right: 20px;
        display: flex;
        flex-direction: column;
        align-items: center; }
        .contenedorNosotros .contenedorPerfiles .cardPerfil .cardContenido .redesIconos img {
          opacity: 0.6;
          margin-top: 10px;
          transition: all 0.3s ease;
          height: 20px;
          width: 20px;
          cursor: pointer; }
        .contenedorNosotros .contenedorPerfiles .cardPerfil .cardContenido .redesIconos img:hover {
          opacity: 1; }
      .contenedorNosotros .contenedorPerfiles .cardPerfil .cardContenido .estrellas {
        display: flex;
        align-items: center;
        margin-top: 1rem; }
        .contenedorNosotros .contenedorPerfiles .cardPerfil .cardContenido .estrellas img {
          height: 25px;
          width: 25px;
          margin: 0 3px;
          transition: all 400ms ease; }
        .contenedorNosotros .contenedorPerfiles .cardPerfil .cardContenido .estrellas img:hover {
          transform: translateY(-15%); }
    .contenedorNosotros .contenedorPerfiles .cardPerfil .nombreProfesion {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 1rem;
      color: #1038ee; }
      .contenedorNosotros .contenedorPerfiles .cardPerfil .nombreProfesion .nombre {
        font-size: 1.3rem;
        font-weight: 600; }
      .contenedorNosotros .contenedorPerfiles .cardPerfil .nombreProfesion .profesion {
        font-size: 1rem;
        font-weight: 500; }
    .contenedorNosotros .contenedorPerfiles .cardPerfil .imagenPerfil {
      height: 140px;
      width: 140px;
      border-radius: 50%;
      padding: 3px;
      background-color: #1038ee; }
      .contenedorNosotros .contenedorPerfiles .cardPerfil .imagenPerfil img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 50%; }

.informacionNosotros {
  text-align: center; }

.informacionNosotrosTexto {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 4rem;
  gap: 1rem;
  color: #ffffff; }

.nav-item a {
  color: white; }

.navbar-toggler-icon {
  color: azure; }

.nav-item a:hover {
  color: gray; }

.menu li a:hover {
  color: white; }

.dropdown-menu {
  background-color: #000000; }

.menu li a {
  font-size: small;
  color: grey;
  text-decoration: none;
  font-family: 'Roboto', sans-serif; }

header img {
  height: 45px;
  width: 45px; }

.logotipoGrande {
  display: none; }

footer {
  background-color: #000000; }

.pieDePagina {
  display: flex;
  justify-content: center;
  gap: 1rem;
  color: #ffffff;
  height: 6.5rem;
  margin-top: 2rem; }

.pieDePagina div ul li a:hover {
  color: grey; }

.pieDePaginaRedes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0.7rem; }

.pieDePagina h5 {
  font-size: 1rem; }

.pieDePagina ul li a {
  text-decoration: none;
  color: #ffffff; }

.pieDePagina ul {
  list-style-type: none; }

footer p {
  width: 100%;
  background-color: #000000;
  color: #ffffff;
  text-align: center;
  padding-top: 5px; }

ol, ul {
  padding-left: 0rem; }

.form-label {
  color: #ffffff;
  font-size: 1.3rem;
  margin-top: 1rem; }

.navbar-collapse {
  flex-grow: 0; }

.container-form {
  margin-top: 2rem; }

.container-form h1 {
  color: #ffffff;
  font-size: 1.5rem;
  margin-bottom: 3re; }

.boton-enviar {
  margin-top: 1rem; }

.btn {
  background-color: #ffffff;
  color: gray; }

.imagen-contacto-redes {
  height: 45px;
  width: 45px; }

.contenedor-imagen-consulta {
  display: none; }

.texto-h2 {
  color: #ffffff;
  text-align: start; }

.redes-del-footer img, .redes-del-footer2 img {
  width: 15px;
  height: 15px; }

.redes-del-footer2 {
  margin-top: 0.5rem; }

.imagen-contactanos {
  height: 100%;
  width: 100%; }

.contenedor-formulario {
  margin-bottom: 3rem; }

.text-reset {
  text-decoration: 0; }

.footer-no-wrap {
  flex-wrap: nowrap; }

.footer-separado {
  gap: 0rem; }

.h3-ultima-linea {
  background-color: #000000;
  height: 2rem; }

.h3-ultima-linea, h3 {
  padding-top: 3px;
  font-size: 1rem; }

@media screen and (min-width: 400px) {
  .primerBloque {
    margin-right: 1rem;
    justify-content: space-between; } }

@media screen and (min-width: 450px) {
  .primerBloque {
    justify-content: center;
    gap: 5rem; } }

@media screen and (min-width: 525px) {
  .pagina-nft .coneccionComunidadDiscord {
    height: 52rem; } }

@media screen and (min-width: 600px) {
  .pagina-index main .bubbleMasScroll {
    gap: 4rem; }
  .pagina-index main .textoMasBoton {
    margin-left: 2rem; }
    .pagina-index main .textoMasBoton .botonesInicio {
      flex-direction: row; }
  .pagina-index main .bubbleInicio {
    display: block;
    margin-top: 3rem;
    width: 120px;
    height: 100px; }
  .pagina-nft .informacionCryptoNFT .informacionNFTTexto {
    flex-wrap: wrap;
    width: 600px; }
  .pagina-nft .coneccionComunidadDiscord {
    height: 55rem; } }

@media screen and (min-width: 768px) {
  .pagina-index .primerBloque {
    align-items: center; }
  .pagina-index .bloqueCards {
    flex-direction: row;
    height: 60rem; }
    .pagina-index .bloqueCards .cardPackStandar {
      margin-bottom: 2rem; }
  .pagina-index #fondoDos .carrusel .seccionesCarrusel .seccionTexto {
    padding: 0.5rem 0.5rem;
    font-size: 1.5rem; }
    .pagina-index #fondoDos .carrusel .seccionesCarrusel .seccionTexto h4 {
      font-size: 1.2rem;
      font-style: normal; }
    .pagina-index #fondoDos .carrusel .seccionesCarrusel .seccionTexto a {
      font-size: 1.4rem; }
  .pagina-index #fondoDos .carrusel img {
    height: 200px;
    width: 280px; }
  .pagina-index #fondo {
    background-size: contain; }
    .pagina-index #fondo main .flexImgMobile {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 2rem; }
    .pagina-index #fondo main div .imgMobileIndex {
      width: 100%;
      height: 100%;
      display: block; }
  .pagina-index .asideIndex {
    align-items: center;
    margin-right: 0; }
    .pagina-index .asideIndex h2 {
      margin: 0.5rem 0rem 0.5rem 0rem;
      font-size: large; }
    .pagina-index .asideIndex .carruselVideo {
      display: flex;
      justify-content: center;
      margin-right: 0.5rem;
      gap: 1rem; }
  .contenedorCrypto section {
    font-size: 0.8rem; }
  .contenedorCrypto .informacionCrypto .informacionCryptoTexto {
    width: 600px;
    gap: 2rem; }
    .contenedorCrypto .informacionCrypto .informacionCryptoTexto div h2 {
      font-size: 1.7rem; }
    .contenedorCrypto .informacionCrypto .informacionCryptoTexto div p {
      font-size: 1.3rem; }
    .contenedorCrypto .informacionCrypto .informacionCryptoTexto .contenedorImagenEstadistica img {
      width: 600px;
      height: 720px; }
  .contenedorCrypto .carruselVideoDos h2 {
    text-align: center;
    font-size: 1.7rem; }
  .contenedorCrypto .carruselVideoDos .carruselVideoYoutube {
    flex-direction: row;
    justify-content: center; }
    .contenedorCrypto .carruselVideoDos .carruselVideoYoutube .videosEnCrypto iframe {
      width: 230px;
      height: 120px;
      border: 0; }
  .pagina-nft .informacionCryptoNFT .contenedorVideoNFT iframe {
    width: 535px;
    height: 300px; }
  .contenedor-contacto .text-white .container .row {
    gap: 4rem; }
  .container-form {
    max-width: 512px; }
  .contenedor-imagen-consulta {
    display: flex; }
  .contenedor-redes-icons {
    margin-top: 5rem;
    margin-bottom: 3rem; }
  .footer-separado {
    gap: 3rem; }
  .tabla-crypto-price {
    margin-top: 1rem;
    font-size: 1rem;
    width: 90%;
    font-weight: 550;
    display: flex;
    justify-content: center; }
  .pieDePagina {
    justify-content: space-evenly;
    height: auto;
    margin-bottom: 15px; }
  .pieDePagina h5 {
    font-size: 1.2rem; }
  .pieDePagina ul li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 1.2rem; } }

@media screen and (min-width: 800px) {
  .contenedorIndex {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "sectionIndex asideIndex"; }
  .primerBloque {
    justify-content: space-between;
    gap: 5rem; } }

@media screen and (min-width: 900px) {
  .pagina-index .bloqueCards {
    flex-direction: row;
    height: 60rem; }
    .pagina-index .bloqueCards .cardPackStandar {
      margin-bottom: 2rem;
      height: 40rem;
      width: 28rem; }
    .pagina-index .bloqueCards .cardPackPremium {
      height: 40rem;
      width: 28rem; } }

@media screen and (min-width: 1024px) {
  .pagina-index #fondo {
    height: 50rem; }
    .pagina-index #fondo .primerBloque {
      height: 37rem;
      justify-content: center;
      gap: 5rem;
      margin-top: 5rem; }
      .pagina-index #fondo .primerBloque .botonesInicio {
        flex-direction: row; }
      .pagina-index #fondo .primerBloque .textoMasBoton {
        width: 420px; }
        .pagina-index #fondo .primerBloque .textoMasBoton .textoBienvenida {
          text-align: center;
          color: #ffffff;
          font-size: 5rem;
          line-height: 5.5rem;
          text-transform: uppercase; }
        .pagina-index #fondo .primerBloque .textoMasBoton .botonesInicio .botonBienvenida {
          font-family: 'Roboto', sans-serif;
          font-weight: 800;
          border-radius: 20px;
          padding: 15px 40px;
          color: #ffffff;
          text-decoration: none; }
        .pagina-index #fondo .primerBloque .textoMasBoton .botonesInicio .botonBienvenidaDos {
          padding: 15px 40px; }
      .pagina-index #fondo .primerBloque .flexImgMobile {
        align-items: center; }
  .pagina-index #fondoDos {
    background-repeat: no-repeat;
    background-size: cover; }
    .pagina-index #fondoDos section img {
      height: 220px;
      width: 300px; }
  .pagina-index .contenedorIndex {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "sectionIndex asideIndex"; }
    .pagina-index .contenedorIndex .carrusel {
      flex-direction: column;
      flex-wrap: wrap; }
      .pagina-index .contenedorIndex .carrusel .seccionesCarrusel {
        display: flex;
        justify-content: center; }
        .pagina-index .contenedorIndex .carrusel .seccionesCarrusel .seccionTexto {
          padding: 0.5rem 0.5rem;
          font-size: 1.5rem;
          width: 13rem; }
  .videosEnCrypto iframe {
    width: 340px;
    height: 190px; }
  .pagina-nft .informacionCryptoNFT .informacionNFTTexto {
    width: 900px; }
  .pagina-nft .coneccionComunidadDiscord {
    margin-top: 3rem;
    flex-direction: row;
    height: 35rem; }
  .contenedorVideoNFT iframe {
    width: 560px;
    height: 315px; }
  .container-form {
    max-width: 812px; }
  .footer-separado {
    gap: 5rem; }
  .coneccionComunidadDiscord {
    width: 100%;
    height: 40rem;
    background-color: #000000;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem; }
    .coneccionComunidadDiscord .leyendaDeDiscord {
      width: 600px; }
      .coneccionComunidadDiscord .leyendaDeDiscord h3 {
        font-size: 3rem; }
  .coleccionesRecomendadas {
    font-size: 1.5rem;
    font-family: 'Bebas Neue', cursive; }
  .contenedorCrypto .carruselVideoDos .carruselVideoYoutube {
    gap: 2rem; }
  .contenedorCrypto .informacionCrypto {
    padding-top: 2rem; }
    .contenedorCrypto .informacionCrypto .informacionCryptoTexto {
      justify-content: center;
      width: 1000px; }
      .contenedorCrypto .informacionCrypto .informacionCryptoTexto div h2 {
        font-size: 2.3rem; }
      .contenedorCrypto .informacionCrypto .informacionCryptoTexto div p {
        font-size: 1.5rem; }
      .contenedorCrypto .informacionCrypto .informacionCryptoTexto .contenedorImagenEstadistica {
        align-items: center; }
        .contenedorCrypto .informacionCrypto .informacionCryptoTexto .contenedorImagenEstadistica img {
          width: 600px;
          height: 720px; }
  .contenedorCrypto main .seccionMonedas {
    gap: 2rem; }
  .contenedorCrypto section {
    font-size: 1rem; }
  .contenedorNosotros .masInfo div p {
    font-size: 1.4rem; }
  .contenedorNosotros .contenedorPerfiles {
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
    margin-top: 2rem; } }

@media screen and (min-width: 1100px) {
  .pagina-index #fondo .primerBloque {
    justify-content: space-around; }
    .pagina-index #fondo .primerBloque .textoMasBoton {
      width: 420px; }
    .pagina-index #fondo .primerBloque .flexImgMobile {
      align-items: center;
      gap: 1rem;
      max-width: 800px;
      max-height: 800px; }
      .pagina-index #fondo .primerBloque .flexImgMobile .imgMobileIndex {
        width: 80%;
        height: 80%; } }

@media screen and (min-width: 1500px) {
  .pagina-nft .informacionCryptoNFT .informacionNFTTexto {
    width: 1300px; } }

@media screen and (min-width: 1780px) {
  .pagina-index #fondoDos {
    background-repeat: no-repeat;
    background-size: cover; } }
