$color-principal: #000000;
$color-subPrincipal: #191919;
$color-secuandario-uno: #f10160;
$color-secuandario-dos: #1038ee;
$color-fuente-principal: #ffffff;
$color-fuente-hover: gray;
$color-green-estadistica: green;
$color-red-estadistica: red;
$color-font-navegador: rgb(255, 255, 255);
$color-font-footer: pink;
$color-font-copyright: blue;