$color-principal: #000000;
$color-secuandario-uno: #f10160;
$color-secuandario-dos: #1038ee;
$color-fuente-principal: #ffffff;
$color-font-navegador: rgb(255, 255, 255);
$color-font-footer: pink;
$color-font-copyright: blue;